
<ion-header>
  <ion-toolbar>
    <div class="ion-text-center">
    <ion-title>
      <h3>Cadastro</h3>
      
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        Insira seus Dados:
        
      </ion-label >
    </ion-item>
    <ion-item>
      <ion-input placeholder="Nome" [(ngModel)]="nome"></ion-input>
    
    </ion-item>
    
    
    <ion-item>
      <ion-input type="number" placeholder="Telefone" [(ngModel)]="telefone"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-select interface="action-sheet" placeholder="Selecione o Genero" [(ngModel)] = "genero">
      <ion-select-option value="feminino">Feminino</ion-select-option>
      <ion-select-option value="masculino">Masculino</ion-select-option>
      <ion-select-option value="naoDeclarado">Não Declarado</ion-select-option>
    </ion-select>
  </ion-item>
  
    <ion-item>
      <ion-label>Data de Nascimento
         </ion-label>
      <br>
    
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" [(ngModel)] = "dataNascimento" presentation="date" max="2022-08-29"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
  </ion-list>
  
  <div class="button">
  <ion-button color="success" expand="block"  (click)="cadastrar()">Cadastrar</ion-button>
</div>
</ion-content>