
  .ion-text-center{
    color: white;
    background-color: black;
    border: none;
    
  
  }

  .insira{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .button{
   border-color: aqua;
   position: absolute;
   width:99%;
   background: none;
  }
